<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("shareLink");
            copyText.type = 'text'; // Make the input field visible
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            document.execCommand("copy");
            copyText.type = 'hidden'; // Hide the input field again
            alert("Link copied to clipboard: " + copyText.value);
        }
    </script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold text-center mb-4">Easy File Share</h1>
        <h5 class="text-center">Upload files to Microsoft Azure Storage and generate a unique, time-limited sharing
            link.
        </h5>
        <form method="post" action="/upload" enctype="multipart/form-data" class="bg-white p-6 rounded shadow-md">
            <div class="mb-4">
                <label class="form-label" for="file">Choose a file:</label>
                <input type="file" name="file" id="file" class="form-control">
            </div>